<mat-sidenav-container>
  <mat-sidenav
    *ngIf="showSide"
    mode="side"
    opened
    style="background-color: gray"
  >
    <button mat-icon-button (click)="setChicken()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-sidenav>

  <!-- Menu -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="toggleMenu()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Restaurante Prato Quente</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <!-- Body -->
    <mat-grid-list cols="7" rowHeight="500px">
      <!-- Disponiveis -->
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title
              >Total de Frangos: {{ totalFrangos }}</mat-card-title
            >
          </mat-card-header>
          <img
            mat-card-image
            src="..\assets\undraw_Posts_re_ormv (1).svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            Frangos Disponiveis: {{ frangosDisponiveis }}
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialog()">
              Reservar
            </button>

            <button mat-raised-button color="warn" (click)="sell()">
              Vender
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <!-- Reservados -->
      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title
              >Frangos Reservados:
              {{ frangosReservados.length }}</mat-card-title
            >
          </mat-card-header>
          <img
            mat-card-image
            src="..\assets\undraw_Order_confirmed_re_g0if.svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <button
              mat-raised-button
              color="primary"
              (click)="openOrdersDialog()"
            >
              Reservas
            </button>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="warn" (click)="confirmDelivery()">
              Confirmar retirada
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>

      <!-- vendidos -->
      <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title
              >Frangos Vendidos: {{ frangosVendidos }}</mat-card-title
            >
          </mat-card-header>
          <img
            mat-card-image
            src="..\assets\undraw_access_denied_re_awnf.svg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-actions>
            <button mat-raised-button color="accent">Fechar Caixa</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
